@{
    ViewBag.Title = "[AYD2]Práctica 1";
}

<div class="jumbotron">
    <h1>[AYD2]Práctica 1</h1>
    <br />
    <p class="lead">
        Integrantes Grupo 2:<br /><br />
        <table>
            <tr>
                <td>Pablo Medrano</td>
                <td>201222552</td>
            </tr>
            <tr>
                <td>Edgar Chopen</td>
                <td>201020598</td>
            </tr>
            <tr>
                <td>David Molina</td>
                <td>201021090</td>
            </tr>
            </table>
    
    </p>
    
</div>

